package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * @copyright: CTSIG
 * @author: ${author}
 * @email: youremailname@ctsig.com
 * @create: ${date}
 * @since: 1.0.0
 * @des: $!{table.comment} Mapper 接口
 * @history:
 * <version>      <time>       <author>        <desc>
 * -----------------------------------------------------------------------
 *
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}